*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #34495e;
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
}
button{
    border:none;
    border-radius: 4px;
}
#palindromBoxContainer{
    padding: 10px;
    max-width: 25%;
    background-color: #ecf0f1;
    margin: 0px auto;
    border-radius: 4px;
    text-align: center;
    margin-top: 10%;
}
#palindromBoxContainer h1{
    text-align: center;
}
#palindromeTabel th{
    text-transform: uppercase;
}
#palindromeTabel{
    margin: 0px auto;
    width: 100%;
}
#addBtn{
    background-color:#3498db;
    color: #ecf0f1;
    padding: 2px 15px;
    font-size: 24px;
}
#palindromInp{
    height: 30px;
    width: 85%;
    margin-right: 5px;
    border: 2px solid #bdc3c7;
    border-radius: 4px;
}
#palindromInp:focus, #palindromInp:active{
    border: 2px solid #1abc9c;
}
#inputBoxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#elemtsContainer{
    width: 80%;
    margin: 10px auto;
}
.delBtn{
    width: 45px;
    height: 30px;
    background-color:#bdc3c7;
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
}
.valueBox{
    text-align: center;
    width: 70%;
    height: 30px;
    border: none;
    background-color: #ecf0f1;
}
@media only screen and (max-width: 700px) {
    #palindromBoxContainer{
        max-width: 100%;
        margin-top: 0px;
        border-radius: 0px;
    }
    #addBtn {
        margin-top: 20px;
        width: 95%;
    }
    #palindromInp{
        margin-top: 10px;
        width: 93%;
        text-align: center;
    }
    #palindromeTabel{
        margin-top: 20px;
    }
  }
  @media only screen and (max-width: 1200px)  and (min-device-width: 700px) {
    #palindromBoxContainer{
        max-width: 90%;
        margin-top: 0px;
    }
    #addBtn {
        margin-top: 10px;
        margin-right: 30px;
    }
  }

  @media only screen and (max-width: 350px) {
    #palindromBoxContainer{
        max-width: 100%;
        margin-top: 0px;
    }
    #addBtn {
        margin-top: 10px;
        width: 95%;
    }
    #palindromInp{
        width: 91%;
    }

  }

